attrs==18.2.0
backcall==0.1.0
bleach==3.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
cycler==0.10.0
decorator==4.3.2
defusedxml==0.5.0
descartes==1.1.0
dill==0.2.9
entrypoints==0.3
esda==2.0.0
Fiona==1.8.4
geographiclib==1.49
geopandas==0.4.0
geopy==1.18.1
idna==2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
libpysal==4.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mistune==0.8.4
munch==2.3.2
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.4
numpy==1.16.1
palettable==3.1.1
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.2
pexpect==4.6.0
pickleshare==0.7.5
prometheus-client==0.5.0
prompt-toolkit==2.0.8
ptyprocess==0.6.0
Pygments==2.3.1
pyparsing==2.3.1
pyproj==1.9.6
pysal==2.0.0
python-dateutil==2.8.0
pytz==2018.9
pyzmq==17.1.2
requests==2.21.0
scipy==1.2.0
seaborn==0.9.0
Send2Trash==1.5.0
Shapely==1.6.4.post2
six==1.12.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
